<section id="contactOD" class="bg-primaryblue">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-white-heading">Kontakta Oss</h2>
                <br>
                <p style="color="white">Hör gärna av dig! Vi är alltid intresserade av att höra mer om dina utmaningar.</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center" color="white">
                <a href="#">
                <i class="fa fa-phone fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.phonenumber }}</p>
                </a>

        </div>
        <div class="col-lg-12 text-center" color="white">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-12 text-center" color="white">
          <a href="https://goo.gl/maps/Gcf7Xf2iSQmf9Juk8">
            <i class="fa fa-map-marker fa-3x"></i>
                <p>{{ site.address}}</p>
                </a>
        </div>

    </div>
</section>
