<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Vad vi Kan</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">QA/RA - Kvalitetssäkring och regulatorisk efterlevnad</h4>
                    <p class="text-muted">Vi hjälper er, små som stora bolag med att etablera kvalitetsledningsystem för att säkerställa regulatorisk efterlevnad </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Tillverkning och Utveckling av Medicintekniska produkter</h4>
                    <p class="text-muted">Vi har mångårig erfarenhet av att bedriva produkt- och processutveckling för medicintekniska produkter </p>
                    <p class="text-muted">Vi vet exakt vad som behövs för att efterleva regulatoriska krav under utveckling och tillverkning</p>


                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">CE Märkning</h4>
                    <p class="text-muted">Med vår kunskap om det medicintekniska direktivet (EU-MDR) hjälper vi er med en effektiv regulatorisk strategi </p>
                    <p class="text-muted">Vi erbjuder guidance och support för Medical Device Market Access </p>
                </div>
            </div>
        </div>
    </section>
